@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-color: #2E3440;
}

.bookmark-maintitle {
    font-family: "Roboto";
    font-size: 2.0rem;
    font-weight: 600;
    color: #EBCB8B;
    margin: 0em 0em .35em 0em;
}

 .bookmark-set{
    padding: 1em;
    background-color: #434C5E;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    margin: 0em .5em;
}

.bookmark-title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #ECEFF4;
    margin: 1.25em 0em .35em 0em;
}

 .bookmark {
    text-decoration: none;
    color: #88C0D0;
    display:block;
    margin: .4em 0em;
}

.section-title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #ECEFF4;
    margin: .85em 0em .85em 0em;
}

.collapsible {
  background-color: #3B4252;
  color: #ECEFF4;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 1.5em 0em .35em 0em;
}

.active, .collapsible:hover {
  background-color: #4c566a;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #434C5E;
}
