@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-color: #2E3440;
}

.bookmark-maintitle {
    font-family: "Roboto";
    font-size: 2.0rem;
    font-weight: 600;
    color: #BF616A;
    margin: 0em 0em .35em 0em;
}

 .bookmark-set{
    padding: 1em;
    background-color: #434C5E;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    margin: 0em .5em;
}

.bookmark-title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #EBCB8B;
    margin: 1.25em 0em .35em 0em;
}

 .bookmark {
    text-decoration: none;
    color: #ECEFF4;
    display:block;
    margin: .4em 0em;
}
